<!DOCTYPE html >
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update author</title>
</head>
<body>
<h2>Update author</h2>

<form th:method="POST" th:action="@{{id}(id=${author.getAuthorId()})}" th:object="${author}">
    <label for="name">Enter new name:</label>
    <input id="name" type="text" th:field="*{name}"/><br/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <label for="lastname">Enter new lastname:</label>
    <input id="lastname" type="text" th:field="*{lastname}"/><br/>
    <div style="color:red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
    <label for="patronymic">Enter new patronymic:</label>
    <input id="patronymic" type="text" th:field="*{patronymic}"/><br/>
    <div style="color:red" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"></div>
    <hr/>
    <input type="submit" value="Ok"/><br/><br/>
    <input type="button" value="Cancel" onclick="history.go(-1)"/>
</form>
</body>
</html>